@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap");
/* 
 form {
  font-family: "Markazi Text", serif;
  font-size: 1.25rem !important;
  font-weight: bold;
} */
/* 
.type-alter-list {
  font-family: "Markazi Text", serif;
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
}

.title-section {
  font-size: 1.35em;
}
.form-item-title span {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.form-item-title{
    margin-top: 1.35em;
} */
* {
  box-sizing: border-box;
}
.type-alter-list {
  font-family: "Markazi Text", serif;
  font-weight: bold;
}

.form-group {
  margin: 1rem 0;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-item-title span {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.form-item-title h4 {
  font-size: 1.1rem;
  display: inline;
}

@media screen and (min-width: 992px) {
  .type-alter-list {
    display: flex;
    justify-content: space-between;
  }
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

#prevBtn {
  background-color: #e2e2e2;
  color: #000;
  margin-right: 7px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}
